@{
    ViewData["Title"] = "Про мене";
    Layout = null;
}

<h1>Про мене</h1>
<p>Тут ви можете знайти інформацію про мої знаня та зацікавлення.</p>
<ul>
    <li>Технології: C#, C++, Html, CSS, JS, PHP... </li>
    <li>Зацікавлення: Розробка веб-додатків</li>
</ul>
