@{
    ViewData["Title"] = "Контакти";
    Layout = null;
}

<h1>Контакти</h1>
<p>Тут ви можете знайти мої контакти для зв’язку зі мною.</p>
<ul>
    <li>Email: bohdan@gmail.com</li>
    <li>Телефон: +380843495</li>   
</ul>
