@{
    Layout = null;
}
<html>
<head>
    <title></title>
</head>
<body>
    <form method="post">
        <p>
            <label>Input Name</label>
            <input name="name" />
        </p>
        <p>
            <label>Input Age</label>
            <input type="number" name="age" />
        </p>
        <p>
            <input type="submit" value="Send" />
        </p>
    </form>
</body>
</html>