<html>
    <head>
        <title>
            @ViewBag.Title
        </title>
    </head>
    <body>
        <div>Header</div>
        <div>
            @RenderBody()
        </div>
        <div>
            @RenderSection("Menu")
        </div>
        <div>Footer</div>
    </body>
</html>